/*Pagina de Inicio*/
.pagina-inicial{
    background-image: url(../Multimedia/Foto\ Consultorio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}
.boton-inicio{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    border-radius: 10px;
    padding: 10px  20px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    font-weight: 700;
    margin-left: 40px;

}
.titulo-inicio{
    color: #fff;
    text-shadow: 1px 1px 3px black;
    padding: 20px 0;
    text-decoration: none;
}
.parrafo-inicio{
    font-weight: 600;
    font-size: 20px;
    text-align: justify;
    padding: 20px 0 0 40px;
}
.navbar{
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0;
}