/*Pag Quienes Somos*/
.foto-uno{
    height: 300px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 10px 15px 0;
    margin-right: 30px;
    margin-bottom: 30px;
}
.quienes-somos{
 display: flex;
 margin-top: 30px;
   
}
.img-quienessomos1{
    float: left;
    width: 350px;
    height: 350px;
    margin-left: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.img-quienessomos2{
    float: inline-start;
    width: 350px;
    height: 350px;
    margin-left: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
}