/*Pag Quienes Somos*/
.foto-uno{
    height: 300px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 10px 15px 0;
    margin-right: 30px;
    margin-bottom: 30px;
}
.quienes-somos{
 display: flex;   
}