/*Para todo el Trabajo*/
*{
    padding: 0;
    margin: 0;
}
@import "_encabezado.scss"; 
@import "_footer.scss";
@import "_especialidades.scss";
@import "_contacto.scss";
@import"_index.scss";
@import"_quienesSomos.scss";
@import"_staff.scss";
@import"_titulos.scss";