/*ENCABEZADO*/
*{
    padding: 0;
    margin: 0;

}  

.img-logo{
width: 60px;
height:60px;
color: black;
}
.boton:hover{
border-radius: 10%;
background-color: #9a9a9a8a;
box-shadow: black 3px;
}
header{
    position: sticky;
    top: 0px;
    
}
.container-fluid{
    background-color: bisque;
}

/* PARTE PRINCIPAL*/
h1{
    font-family: "Sedan SC", serif;
    font-size: 70px;
    text-align: center; 
}


h2{
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
    font-family: 'Times New Roman', Times, serif;
}
/*Pag Staff*/
.grilla{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "header header header"
                          "main main main"
                          "footer footer footer"; 
}
.header-staff{
    grid-area: header;
}
.main-staff{
    grid-area: main;
}
.foto-redonda{
    width: 140px;
    height: 170px;
    border-radius: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
}
.footer-staff{
    grid-area: footer;
}
.titulo-staff{
    grid-column: 1/4;
    justify-self: center;
}

.card-staff{
    width: 300px;
    height: 350px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}
.card-staff:hover{
    box-shadow:5px 5px 10px;
    
}
h3{
    font-size: 20px;
}
.parrafo-staff{
    text-align: center;
    color: grey;
}
/* Pag Inicio*/
.pagina-inicial{
    background-image: url(../Multimedia/Foto\ Consultorio.jpg);
    width: 100%;
    height: 600px;
}
.boton-inicio{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    border-radius: 10px;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    font-weight: 700;  
}
.titulo-inicio{
    color: #fff;
    text-shadow: 1px 1px 3px black;
    padding: 20px 0;
}
.parrafo-inicio{
    font-weight: 600;
    font-size: 20px;
    text-align: justify;
    padding: 20px 0;
}

/*Pag Quienes Somos*/
.foto-uno{
    height: 300px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 10px 15px 0;
    margin-right: 30px;
    margin-bottom: 30px;
}
.quienes-somos{
 display: flex;   
}

/*Pag Contacto*/
.logo-direccion{
    width: 20px;
    height: 20px;

}
.logo-email{
    width: 20px;
    height: 20px;

/* Pag Especialidades*/    
}
ul li{
    list-style-type: none;
}
.card-conteiner-especialidades{
    width: 100%;
    display: flex;
    
}
.card-especialidades{
    width: 100%;
    border-radius: 6px;
    background-color: #fff;
    text-align: justify;
    margin: 20px 0;
    
}
.card-especialidades:hover{
    box-shadow: 5px 5px 10px black;
}
.card-especialidades-p h2{
    font-weight: 400;
    text-align: left;
}
.imagen-especialidad{
    width: 400px ;
    height: 200px;
}

/* PIE DE PAGINA */
.logo-insta{
    width: 30px;
    height: 30px;
    
}
.logo-face{
    width: 30px;
    height: 30px;
    
}
.logo-wp{
    width: 30px;
    height: 30px;
    
}
.logo-tw{
    width: 30px;
    height: 30px;

}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
}
.pie{
    padding: 0 3px;
}


@media (max-width:500px){
    .pie{
        display: none;
    }
    h1{
        font-size: 40px;
    }
    .imagen-especialidad{
        width: 300px ;
        height: 150px;
    }
}
@media (max-width:1000px){
    
}
    